{# (couche 3) #}

{% extends "PMMCoreBundle::layout.html.twig" %}

{% block title %}
	Ajouter un bert - {{ parent() }}
{% endblock %}

{% block title2 %}
  * Remplissage resultats</br> *
    Bulletin # {{ ber.bulletin.id }} </br>
    Patient: {{ ber.bulletin.patient.name }} </br>
{% endblock %}

{% block menu %}

	<ul class="nav nav-pills nav-stacked">
        <a href="{{ path('pmm_ber_homepage') }}" class="btn btn-primary btn-block btn-lg">
            <span class="glyphicon glyphicon-chevron-left"></span> Retour à l'accueil </a><p>  </p>
	</ul>

{% endblock %}

{% block body %}

	{{ include("PMMLaboBundle:Ber:form.html.twig") }}
	
{% endblock %}