{# (couche 3) #}

{% extends "PMMCoreBundle::layout.html.twig" %}

{% block title %}
	Infos sur un ber - {{ parent() }}
{% endblock %}

{% block title2 %}Informations sur un ber{% endblock %}

{% block menu %}

	<ul class="nav nav-pills nav-stacked">
        <a href="{{ path('pmm_bulletin_homepage') }}" class="btn btn-primary btn-block btn-lg">
            <span class="glyphicon glyphicon-chevron-left"></span> Les bulletins </a><p>  </p>
        <p>  </p>
	</ul>

{% endblock %}

{% block body %}

	<div class="well">
        <h3>Bulletin # {{ ber.bulletin.id }} </h3><hr>
        <b>Examen:</b> {{ ber.examen.name }} </br><hr>
        <b>Resultat:</b> {{ ber.resultat.name }} </br><hr>
        <b>Valeur du resultat:</b> {{ ber.value }} </br><hr>
    <p>

        <a href="{{ path('pmm_ber_edit', {'id': ber.id}) }}" class="btn btn-warning">
            <span class="glyphicon glyphicon-edit"></span>
            Modifier
        </a>
        
    </p>

    </div>

{% endblock %}