{# (couche 3) #}

{% extends "PMMCoreBundle::layout.html.twig" %}

{% block title %}
	Infos sur un bulletin - {{ parent() }}
{% endblock %}

{% block title2 %}Informations sur un bulletin{% endblock %}

{% block menu %}

	<ul class="nav nav-pills nav-stacked">
        <a href="{{ path('pmm_labo_homepage') }}" class="btn btn-primary btn-primary">
            <span class="glyphicon glyphicon-chevron-left"></span> Retour à l'accueil </a><p>  </p>
        <a href="{{ path('pmm_bulletin_viewAll') }}" class="btn btn-primary">
			<span class="glyphicon glyphicon-chevron-left"></span>
			Afficher tous les bulletins
		</a><p>  </p>
	</ul>

{% endblock %}

{% block body %}

	<div class="well">
        <h4>Nom du patient: {{ bul.patient.name }} </h4>
        <b>Montant total:</b> {{ bul.amount }} </br><hr>
    <p>

        <a href="{{ path('pmm_bulletin_edit', {'id': bul.id}) }}" class="btn btn-warning">
            <span class="glyphicon glyphicon-edit"></span>
            Modifier
        </a>

        <a href="{{ path('pmm_bulletin_delete', {'id': bul.id}) }}" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span>
            Supprimer
        </a>
    </p>

    </div>

{% endblock %}