{# (couche 3) #}

{% extends "PMMCoreBundle::layout.html.twig" %}

{% block title %}
	Infos sur un resultat - {{ parent() }}
{% endblock %}

{% block title2 %}Informations sur un resultat{% endblock %}

{% block menu %}

	<ul class="nav nav-pills nav-stacked">
        <a href="{{ path('pmm_resultat_homepage') }}" class="btn btn-primary btn-block btn-lg">
            <span class="glyphicon glyphicon-chevron-left"></span> Retour à l'accueil </a><p>  </p>
        <a href="{{ path('pmm_resultat_view-all') }}" class="btn btn-primary btn-block btn-lg">
			<span class="glyphicon glyphicon-chevron-left"></span>
			Afficher tous les resultats
		</a><p>  </p>
	</ul>

{% endblock %}

{% block body %}

	<div class="well">
        <h3>Nom: {{ resul.name }} </h3><hr>
        <b>Examen:</b> {{ resul.examen.name }} </br><hr>
    <p>

        <a href="{{ path('pmm_resultat_edit', {'id': resul.id}) }}" class="btn btn-warning">
            <span class="glyphicon glyphicon-edit"></span>
            Modifier
        </a>

        <a href="{{ path('pmm_resultat_delete', {'id': resul.id}) }}" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span>
            Supprimer
        </a>
    </p>

    </div>

{% endblock %}