{# (couche 3) #}

{% extends "PMMCoreBundle::layout.html.twig" %}

{% block title %}
	Infos sur un patient - {{ parent() }}
{% endblock %}

{% block title2 %}Informations sur un patient{% endblock %}

{% block menu %}

	<ul class="nav nav-pills nav-stacked">
        <a href="{{ path('pmm_patient_homepage') }}" class="btn btn-primary btn-block btn-lg">
            <span class="glyphicon glyphicon-chevron-left"></span> Retour à l'accueil </a><p>  </p>
        <a href="{{ path('pmm_patient_view-all') }}" class="btn btn-primary btn-block btn-lg">
			<span class="glyphicon glyphicon-chevron-left"></span>
			Tous les patients
		</a><p>  </p>
	</ul>

{% endblock %}

{% block body %}

	<div class="well">
        <h3>Nom: {{ patient.name }} </h3><hr>
        <b>Sexe:</b> {{ patient.sex }} <hr>
        <b>Téléphone:</b> {{ patient.telephone }} <hr>
        <b>Date de naissance:</b> {{ patient.bornDate|date('d-m-Y') }} <hr>
        <b>Groupe sanguin:</b> {{ patient.bloodGroup }} <hr>
    <p>
        <a href="{{ path('pmm_bulletin_custum-add', {'id': patient.id}) }}" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-plus"></span> Créer un bulletin d'examen</a><p>  </p>
        
        <a href="{{ path('pmm_patient_edit', {'id': patient.id}) }}" class="btn btn-warning btn-lg">
            <span class="glyphicon glyphicon-edit"></span>
            Modifier
        </a>

        <a href="{{ path('pmm_patient_delete', {'id': patient.id}) }}" class="btn btn-danger btn-lg">
            <span class="glyphicon glyphicon-trash"></span>
            Supprimer
        </a>
    </p>

    </div>

{% endblock %}