{# (couche 3) #}

{% extends "PMMCoreBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block title2 %}Gestion des résultats médicaux{% endblock %}

{% block menu %}

	<ul class="nav nav-pills nav-stacked">

        <a href="{{ path('pmm_resultat_add') }}" class="btn btn-info btn-block btn-lg">
            <span class="glyphicon glyphicon-plus"></span> Ajouter un résultat</a><p>  </p>
        
        <a href="{{ path('pmm_resultat_view-all') }}" class="btn btn-warning btn-block btn-lg">
            <span class="glyphicon glyphicon-edit"></span> Modifier un résultat</a><p>  </p>
        
        <a href="{{ path('pmm_resultat_view-all') }}" class="btn btn-danger btn-block btn-lg">
            <span class="glyphicon glyphicon-remove"></span> Supprimer un résultat</a>
        
	</ul>

{% endblock %}

{% block body %}
	<h3>Tous les résultats</h3>
	<ul>
	{% for resul in listResul %}
		<li>
			<a href="{{ path('pmm_resultat_view', {'id': resul.id}) }}">
                {{ resul.name }} </br>
			</a>
		</li>
	{% else %}
		<li>Aucun résultat trouvé dans la base de données</li>
	{% endfor %}
	</ul>
	
{% endblock %}