
{# (couche 3) #}

{% extends "PMMCoreBundle::layout.html.twig" %}

{% block title %}
	Infos sur les resultats - {{ parent() }}
{% endblock %}

{% block title2 %}Informations sur tous les resultats{% endblock %}

{% block menu %}

	<ul class="nav nav-pills nav-stacked">
        <a href="{{ path('pmm_resultat_homepage') }}" class="btn btn-primary btn-block btn-lg">
            <span class="glyphicon glyphicon-chevron-left"></span> Retour à l'accueil </a><p>  </p>
	</ul>

{% endblock %}

{% block body %}
    
    {% for resul in listResul %}
       
    <div class="well">
        <h3>Nom: {{ resul.name }} </h3><hr>
        <b>Valeur :</b> # </br><hr>
        <b>Description:</b> {{ resul.description }} </br><hr>
    <p>
        <a href="{{ path('pmm_resultat_edit', {'id': resul.id}) }}" class="btn btn-warning">
            <span class="glyphicon glyphicon-edit"></span>
            Modifier
        </a>

        <a href="{{ path('pmm_resultat_delete', {'id': resul.id}) }}" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span>
            Supprimer
        </a>
    </p>
    </div>

    {% endfor %}

{% endblock %}